@model Bloggsystem.Models.Category

@{
    ViewBag.Title = "Edit";
}

<h2>Hantera kategorier</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Redigera kategori</legend>

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.categoryID)

            <div class="form-group">
                @Html.LabelFor(model => model.category1, "Kategori: *", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.category1, new { htmlAttributes = new { maxlength="50", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.category1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Uppdatera" class="btn btn-default" />
                </div>
            </div>
        </div>

    </fieldset>
}

<hr>

<div>
    @Html.ActionLink("Tillbaka till kategorilistan", "Index")
</div>

<hr>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
